[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Jinja2 = "==3.1.2"
ansible = "==8.0.0"
"ruamel.yaml" = "==0.17.32"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
generate = "python3 /src/generate.py"
